/*
Theme Name: Top Trumps
Description: A twentysixteen child theme for the Top Trumps Project
Author: Edd Hurst
Template: twentysixteen
Version: 1.0.0
Text Domain: toptrumps
*/

/*******************************************************
HEADER STYLES
*******************************************************/

/*******************************************************
NAVIGATION STYLES
*******************************************************/

/*******************************************************
MAIN CONTENT STYLES
*******************************************************/

/*******************************************************
UNIVERSAL DECK STYLES
*******************************************************/

.archive.tax-card_category .content-area{
	float:left;
	margin:0px;
	width:100%;
}

.deck_header{
	display:block;
	float:left;
	margin:0 0 15px 0;
	width:100%;
}

	.deck_header .deck_image{
		float:left;
		text-align:center;
		width:100%;
	}

		.deck_header .deck_image img{
			border-width:4px;
			border-style:solid;
			border-radius:4px;
		}

	.deck_header .deck_descr{
		float:left;
		margin:15px 5% 0;
		width:90%;
	}

		.deck_header .deck_descr p{
			font-size:16px;
			font-size:1rem;
		}

.sort_menu{
	float:left;
	margin:0 5%;
	width:90%;
}

	.sort_menu select{
		padding:8px;
		float:right;
		margin:10px 10%;
		width:80%;
	}


@media screen and (min-width:768px){

	.deck_header .deck_image{
		float:left;
		text-align:center;
		width:25%;
	}

	.deck_header .deck_descr{
		margin:0 0 0 5%;
		width:70%;
	}

	.sort_menu{
		margin:0;
		width:100%;
	}

		.sort_menu select{
			margin:0 3%;
			width:44%;
		}

}

.deck_catalogue{
	display:flex;
	flex-flow:row wrap;
	float:left;
	width:100%;
}

.card_container{
	border-radius:6px;
	display:block;
	float:left;
	padding:15px;
	margin:25px auto;
	width:95%;
	
}

.single .card_container{
	float:none;
	margin:0 auto;
	max-width:650px;
}

.archive .card_container{
	max-width:385px;
}

.card_container:hover{
	-webkit-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
	box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
}

body.archive article.card_container .entry-content, body.single article.card_container .entry-content{
	float:left;
	margin:20px 0;
	padding:6px 10px 10px 55px;
	width:100%;
}

/*******************************************************
DECK SPECIFIC STYLES: GRANDMAS BEST RECIPES
*******************************************************/

.term-grandmas-best-recipes .deck_header .deck_image img{
	border-color:#3d2d56;
}


/* Polka Dot CSS pattern. Amended from http://lea.verou.me/css3patterns/ */
.card_container.grandmas-best-recipes{
	background-image: radial-gradient(white 15%, transparent 16%),
	radial-gradient(white 15%, transparent 16%);
	background-size:113px 100px;
	background-position: 85px -15px, 24px 36px;
	border:8px solid #3d2d56;
}

.color-palette.pink{ background-color:#f27f9c; /* Pink */ }
.color-palette.purple{ background-color:#e7d5e1; /* Purple */ }
.color-palette.mint{ background-color:#85e7b8; /* Mint */ }
.color-palette.lblue{ background-color:#a4f2f0; /* L Blue */ }
.color-palette.dblue{ background-color:#00adcf; /* Darker Blue */ }
.color-palette.orange{ background-color:#f36865; /* Orange */ }

.card_container.grandmas-best-recipes:hover{
	background-color:#abced4
}

.card_container.grandmas-best-recipes .card_image,
.card_container.grandmas-best-recipes .entry-content{
	position:relative;
}

.card_container.grandmas-best-recipes .card_image{
	z-index:999;
}

.card_container.grandmas-best-recipes .entry-content{
	z-index:555;
}

.card_container.grandmas-best-recipes .card_image img{
	transform:rotate(-3deg) scale(0.95);
	border-color:#ffffff;
	border-style:solid;
	border-width:10px;
	border-bottom-width:0px;

	-webkit-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
	box-shadow: 1px 5px 9px -1px rgba(0,0,0,0.75);
}

.card_container.grandmas-best-recipes section.card_image:before,
.card_container.grandmas-best-recipes section.card_image:after,
.card_container.grandmas-best-recipes .entry-content:before,
.card_container.grandmas-best-recipes .entry-content:after {
	content: " ";
	height: 20px;
	display: block;
	background-color: rgba(200,200,200,0.6);
	position: absolute;
	z-index: 9999;
}

.card_container.grandmas-best-recipes section.card_image:before {
	left: -10px;
	top: 20px;
	transform: rotate(-40deg);
	width: 60px;
}

.card_container.grandmas-best-recipes section.card_image:after {
	bottom: 30px;
	right: -24px;
	transform: rotate(-65deg);
	width: 95px;
}

.card_container.grandmas-best-recipes .entry-content:before {
	height:25px;
	right:40px;
	top:-15px;
	transform:rotate(2deg);
	width:80%;
}

.card_container .card_image header h2{
	font-family:"Great Vibes", cursive;
	font-size:32px;
	margin:-9px 0 5px 7px;
	background-color:#ffffff;
	padding:6px;
	width:100%;
	transform:rotate(-3deg) scale(0.95);

	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}

@media screen and (min-width:540px){
	.single .card_container .card_image header h2{
		margin:-12px 0 5px 11px;
		font-size:40px;
		padding:10px;
	}
}

/* Lined paper pattern. Amended from http://lea.verou.me/css3patterns/ */
.card_container.grandmas-best-recipes .entry-content{
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 39px, #abced4 39px, #abced4 41px, transparent 41px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	margin:0 0 20px 0;

	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}

.card_container.grandmas-best-recipes .entry-content table,
.card_container.grandmas-best-recipes .entry-content th,
.card_container.grandmas-best-recipes .entry-content td{
	border:0px;
}

.card_container.grandmas-best-recipes .entry-content th,
.card_container.grandmas-best-recipes .entry-content td {
	padding:10px 0 0;
}


/*******************************************************
FOOTER STYLES
*******************************************************/

/* This overwrites the bg-color ribbon at the top and bottom of the page
sitting on top of the content as you scroll. */
body:not(.custom-background-image):before, body:not(.custom-background-image):after{
	background:none;
	height:0px;
}